# dependencies
node_modules/
**/node_modules/

# lockfiles
package-lock.json
**/package-lock.json
yarn.lock
**/yarn.lock

# build outputs
dist/
**/dist/
build/
**/build/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db

# env files
.env
.env.local
.env.*.local
*.env
**/.env
**/.env.local
